<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="/photos/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
    </a>
    <hr>
  </div>
</div>

<% @photos.each do |photo| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= photo.user.username %>
            <small>
              <%= time_ago_in_words(photo.created_at) %> ago
            </small>
          </h3>
        </div>

        <div class="panel-body">
          <a href="/photos/<%= photo.id %>">
            <img src="<%= photo.image %>" class="img-responsive">
          </a>

          <p>
            <% if current_user.liked_photos.ids.include? photo.id %>
              <form>
                <button class="btn btn-link">
                  <i class="fa fa-heart"></i>
                </button>
              </form>
              <% else %>
                <form>
                  <button class="btn btn-link">
                    <i class="fa fa-heart-o"></i>
                  </button>
                </form>
            <% end %>
            <% if photo.likes.empty? %>
              <small class="text-muted">be the first to like this</small>
            <% end %>
          </p>

          <ul class="media-list">
            <li class="media">
              <div class="media-body">
                <h6 class="media-heading">
                  <a href="/users/<%= photo.user.id %>"><%= photo.user.username %></a>
                  <small>
                    <%= time_ago_in_words(photo.created_at) %> ago
                  </small>
                </h6>
                <%= photo.caption %>
              </div>
            </li>

            <!-- Add each statement here -->
            <li class="media">
              <div class="media-body">
                <form action="/create_comment" method="post">
                  <!-- Label and input for user id -->
                  <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">

                  <!-- Label and input for photo -->
                  <input type="hidden" id="photo_id" name="photo_id" value="<%= photo.id %>">

                  <!-- Label and input for comment -->
                  <div class="input-group">
                    <input type="text" id="comment_id" name="comment_id" class="form-control" placeholder="Add a comment...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
